<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div *ngIf="controlFile" class="ion-margin-top">
      <ion-text>
        El fichero aún no esta cargado.
      </ion-text>
      <ion-button (click)="getInitialJson()"
        color="medium" expand="block" fill="outline"
        class="ion-margin-top">
        Refrescar
      </ion-button>
    </div>

    <app-list-images *ngIf="imagesArray && !controlFile"
      [imagesList] = "imagesArray">
    </app-list-images>

  </div>
</ion-content>